<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8080" />
    <add key="ApiKey" value="REPLACE_WITH_YOUR_KEY" />
    <add key="PaymentTypeName" value="Бонусы" />
    <add key="DialogTtlSeconds" value="120" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
